.Admin {
    .Dashboard {
      min-height: $section-min-height;
      .sidebar {
        min-height: $section-min-height;
        width: 15%;
        li {
          border-bottom: $slim-border;
        }
      }
      .content {
        min-height: $section-min-height;
        width: 85%;
      }
    }
  }