
$footer-h: 2rem;
$footer-top: 16rem;
.Footer{
  a{
    color: $primary-color;
  }
  min-height: $footer-h;
  .footer-top{
    min-height: $footer-top;
  }
  .footer-bottom{
    min-height: $footer-h - $footer-top;
  }
  .footer-bottom-policies{
    min-height: 6rem;
  }
  .footer-bottom-list-item{
    border-right: $slim-border;
    min-height: 3.5rem;
    @include vertical_center();
  }
  @media(max-width: $br-md){
    .footer-bottom-list-item{
      border: none;
    }
  }
}
