.Header {
  // height: $header-height;
  // border-bottom: 0.5rem solid blue;
  a {
    color: $primary-color !important;
  }
  .dropdown-item{
    a{
      color: $white !important;
    }
  }
  a:hover {
    color: $black;
    text-decoration: underline;
  }
  .btn-dropdown-user {
    outline: none;
    border: none;
  }
  .dropdown-item:hover {
    background-color: transparent;
  }
  border-color: $danger-deep;
  .img-logo {
    width: $header-height + 3;
  }

  .header-row {
    height: $header-height;
  }

  .notification-bar {
    @include display_overlap(20rem);
    a{
      color: white !important;
    }
  }
  .inbox-bar{
    @include display_overlap(20rem);
    a{
      color: white !important;
    }
  }
  @media (max-width: $br-md) {
    .notification-bar {
      @include display_ban_mobile();
    }
    .inbox-bar{
      @include display_ban_mobile();
    }
  }
}
