
.Header {
    // height: $header-height;
    // border-bottom: 0.5rem solid blue;
    border-color: $danger-deep;
    .img-logo {
      width: 60%;
    }
    .logo-column {
      width: $logo-column-w;
    }
    .nav-column {
      width: 100% - $logo-column-w;
    }
    .top-header {
      height: $header-height - $bh-height;
    }
    .bottom-header {
      height: $bh-height;
    }
    .top-header-wrapper {
      width: $h-wrapper;
    }
    .bottom-header-wrapper {
      width: $h-wrapper;
      height: 100%;
    }
  
    .menu-item {
      height: 100%;
      border-left: $slim-border;
      // width: 20%;
      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $white;
        --bs-border-opacity: 0.5;
      }
    }

    .notification-bar{
      width: 20rem;
      z-index: 1;
      a{
        color: black !important;
      }
    }

    .border-of-header{
      height: 0.5rem;
    }
  
    @media (min-width: $br-xxl) {
      .logo-column {
        width: 15%;
      }
      .nav-column {
        width: 100% - 15%;
      }
    }
  
    @media (min-width: $br-xxl) {
      .logo-column {
        width: 15%;
      }
      .nav-column {
        width: 100% - 15%;
      }
    }
  }
  
  @media (max-width: $br-md){
    .Header {
      .logo-column{
        width: fit-content;
      }
      .img-logo{
        width: 10rem;
      }
      height: fit-content;
      .nav-column{
        width: 100%;
      }
      .top-header{
        height: fit-content;
      }
      .top-header-wrapper{
        width: 100%;
      }
      .bottom-header{
        height: fit-content;
      }
      .bottom-header-wrapper{
        width: 100%;
        border: none;
        .menu-item{
          border:none;
        }
      }
    }
  }