.Home {
  // background-color: blue;
  // .slim-input{
  //     background: blue !important;
  // }
  .search-input-row {
    margin-bottom: 0 !important;
    .col,
    .col-md-6,
    .col-md-4,
    .col-md-12 {
      margin-bottom: 0.5rem;
    }
    .form-control,
    .input-group {
      height: 2.3rem;
      font-size: 0.8rem;
      margin-bottom: 0 !important;
    }
    .input-group-text {
      padding-top: 0;
      padding-bottom: 0;
    }
    a,
    button {
      font-size: 0.8rem;
    }
    .btn {
      padding: 0.4rem 0.7rem;
    }
  }
}
