@import './variables';
// import { makeStyles } from "@mui/styles";

.logout_btn {
  color: $primaryColor !important;
  background-color: $errorColor !important;
}

.layout_list_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  width: 100%;
}

.layout_list_item_btn {
  padding-left: 40px !important;
}
