.SendCode {
  min-height: $section-min-height;
  padding: $section-padding;
  // .phone-code {
  //   border-top-left-radius: 25px;
  //   border-bottom-left-radius: 25px;
  // }
  .form-select {
    min-width: 20%;
  }
  a {
    color: $dark-color;
  }
}
.VerifyCode {
  a {
    color: $dark-color;
  }
}
.RegistrationForm {
  a {
    color: $dark-color;
  }
}
