.user-dashboard {
  min-height: $section-min-height;
  .sidebar {
    min-height: $section-min-height;
    width: 15%;
    li {
      border-bottom: $slim-border;
    }
  }
  .content {
    min-height: $section-min-height;
    width: 85%;
  }
  .explain-icon {
    width: 3rem;
  }
}
.profile-img {
  height: 12rem !important;
  width: 100% !important;
  object-fit: cover;
  object-position: top;
}
