.priceCalculatorWrapper{
    background: rgba(25, 30, 51, 0.678);
    width: 100%;
    height: 100vh;
}

.PriceCalculator {
  width: 500px;
  height: 400px;
}
@media (max-width: 768px) {
  .PriceCalculator {
    width: 350px;
  }
}
